{% extends "layout.html" %}
{% block body %}
    <h3>{{ current_quiz.name }}</h3>
    {% for question_type in question_types %}
    <a href="{{ url_for('admin_add_question',quiz_id=current_quiz.id,question_type=question_type) }}" class="btn btn-primary"
                           role="button">
                            Add {{ question_type }}
                        </a>
    {% endfor %}


    <div class="panel panel-default">
        <div class="panel-heading">Questions</div>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Type</th>
                <th>Data</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for question in questions %}

                <tr class='clickable-row' data-href='url://127.0.0.1:5000/1'>
                    <td>{{ question.q_id }}</td>
                    <td>{{ question.type }}</td>
                    <td>{{ question.data }}</td>
                    <td>
                        <a href="{{ url_for('admin_edit_question',q_id=question.q_id) }}" class="btn btn-primary"
                           role="button">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('admin_delete_question',q_id=question.q_id) }}" class="btn btn-primary"
                           role="button">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>


        </table>
    </div>
{% endblock body %}